#!/usr/bin/env python3
"""Setup script for {{ config.server_name }} package."""

from setuptools import setup, find_packages

with open("README.md", "r", encoding="utf-8") as fh:
    long_description = fh.read()

setup(
    name="{{ config.server_name }}",
    version="{{ config.version }}",
    author="{{ config.author }}",
    author_email="{{ config.author_email }}",
    description="{{ config.description }}",
    long_description=long_description,
    long_description_content_type="text/markdown",
    url="https://github.com/yourusername/{{ config.server_name }}",
    packages=find_packages(),
    classifiers=[
        "Development Status :: 3 - Alpha",
        "Intended Audience :: Developers",
        "License :: OSI Approved :: {{ config.license }} License",
        "Operating System :: OS Independent",
        "Programming Language :: Python :: 3",
        "Programming Language :: Python :: 3.8",
        "Programming Language :: Python :: 3.9",
        "Programming Language :: Python :: 3.10",
        "Programming Language :: Python :: 3.11",
    ],
    python_requires="{{ config.python_requires }}",
    install_requires=[
        {% for dep in config.dependencies %}
        "{{ dep }}",
        {% endfor %}
    ],
    extras_require={
        "dev": [
            {% for dep in config.dev_dependencies %}
            "{{ dep }}",
            {% endfor %}
        ],
    },
    entry_points={
        "console_scripts": [
            "{{ config.server_name }}-server={{ config.get_package_name() }}.server:serve",
        ],
    },
)